@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0.2vw;
    background: #225485;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
  }
  
  html, body {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
  }

  .cl-button {
    border-radius: 5px;
    padding-top: 6px;
  }