.degrade {
    background: linear-gradient(180deg,  #dbcfa5,  #ded2a7 , #e2d6a9 ,  #e5d9ab,  #e8dcad,  #ebe0af,  #efe3b1,  #f2e7b3,  #f5eab5,  #f8edb7, #fcf1b9,  #fff4bb);
}

.sobre::-webkit-scrollbar {
    width: 7px;
    background: transparent;
}
.sobre::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 5px;
}
